
.Card{
  
    width: 40px;
    height: 480px;
    background: white;
    border-radius: 12px;
    box-shadow: 0px 1px  10px 1px black;
  }
  .upper-container{
    height: 100px;
    background: linear-gradient(to left , blue , pink);
  
  }
  img{
    border-radius: 50%;
  }
  .header{
    /* line-height: ; */
    /* margin-top: 50px; */
    color: rgb(0, 0, 0);
  }
  span{
    opacity: 75px;
    
  }
  .image-container{
    background: white;
    width: 120px;
    height: 120px;
    border: 2px solid black;
    border-radius: 50% ;
    /* padding: 8px; */
    transform: translate(0px,0px);
  }
  .lower-container{
    padding: px;
    margin-top: 80px;
  }