.container-fluid{
    background-color: rgba(165, 85, 236,0.6);
    width: 500px;
    height: auto;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    margin-left: 30%;
    margin-top: 20px;
}
input{
    padding: 5px;
}
label{
    font-weight: bold;
}
